html, body {
  margin: 0;
  padding: 0;
}

.App {
  background: lavender;

  header,
  footer {
    background: lightblue;
    padding: 20px 10px;
  }

  #content {
    padding: 5px;
  }

  .ListPage {
    .list {
      margin-top: 5px;
    }
  }
}
